{#
/**
 * Button
 *
 * Button
 *
 * @param string $button_url Link wohin der Button verlinkt wird
 * @param string $button_extra_class Klasse die den Style steuert (leere Klassenangabe, filled, filled2, round, text, link, group, dropdown)
 * @param string $button_text Buttontext
 *
 * @example
 * <h6>Button default</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   button_url: '#',
 *   button_text: faker('text', 25)
 * } %}
 * <h6>Button filled</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   button_url: '#',
 *   button_extra_class: 'filled',
 *   button_text: faker('text', 25)
 * } %}
 * <h6>Button round</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   button_url: '#',
 *   button_extra_class: 'round',
 *   button_text: faker('text', 25)
 * } %}
 * <h6>Button text</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   button_url: '#',
 *   button_extra_class: 'text',
 *   button_text: faker('text', 25)
 * } %}
 * <h6>Button link</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   button_url: '#',
 *   button_extra_class: 'link',
 *   button_text: faker('text', 25)
 * } %}
 */
#}

<a href="{{button_url}}" {% if target %}target="{{target}}"{% endif %} class="button{% if button_extra_class %} {{button_extra_class}}{% endif %}">{{button_text}}</a>
