{#
/**
 * Button
 *
 * Ausgabe eines Links als Button oder Textlink.
 *
 * @param string $link Kompletter Linkwrapper der Via Drupal erzeugt wird.
 *
 * @example
 * <h6>Button default</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   link: '<a href="#" class="button">Button Default Link Text</a>'
 * } %}
 * <h6>Button filled</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   link: '<a href="#" class="button filled">Button filled Link Text</a>'
 * } %}
 * <h6>Button round</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   link: '<a href="#" class="button round">Button round Link Text</a>'
 * } %}
 * <h6>Button text</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   link: '<a href="#" class="button text">Button "text" Link Text</a>'
 * } %}
 * <h6>Button link</h6>
 * {% include "@atoms/03-buttons/00-button.twig" with {
 *   link: '<a href="#" class="button link">Button "link" Link Text</a>'
 * } %}
 */
#}

{{link}}