{#
/**
 * Button Group
 *
 * Ausgabe von mehreren Links als Button oder Textlink in einer Gruppe.
 *
 * @param string $link Kompletter Linkwrapper der Via Drupal erzeugt wird.
 * @param array $items Liste mit Buttons die hinzugefügt werden soll.
 *
 * @example
 * {% set button_items = { 
    '0': {'link': '<a href="#" class="button filled">Button Text 1</a>'},
    '1': {'link': '<a href="#" class="button filled">Button Text 2</a>'}, 
    '2': {'link': '<a href="#" class="button filled">Button Text 3</a>'}} %}
 * {% include "@atoms/03-buttons/01-button-group.twig" with {
 *   items: button_items
 * } %}
 */
#}

<div class="button-group">
  {%- for item in items -%}
    {% include "@atoms/03-buttons/00-button.twig" with {
      link: item.link,
    } %}
  {%- endfor -%}
</div>
