{#
/**
 * Button Group
 *
 * Button Group
 *
 * @param string $button_url Link wohin der Button verlinkt wird
 * @param string $button_extra_class Klasse die den Style steuert (leere Klassenangabe, filled, filled2, round, text, link, group, dropdown)
 * @param string $button_text Buttontext
 *
 * @example
 * {% set button_items = { 
    '0': {'link': '<a href="#" class="button filled">Button Text 1</a>'},
    '1': {'link': '<a href="#" class="button filled">Button Text 2</a>'}, 
    '2': {'link': '<a href="#" class="button filled">Button Text 3</a>'}} %}
 * {% include "@atoms/03-buttons/01-button-group.twig" with {
 *   items: button_items
 * } %}
 */
#}

<div class="button-group">
  {%- for item in items -%}
    {% include "@atoms/03-buttons/00-button.twig" with {
      link: item.link,
    } %}
  {%- endfor -%}
</div>
