{#
/**
 * Button Dropdown
 *
 * Button Dropdown
 *
 * @param string $link Link wohin der Button verlinkt wird
 *
 * @example
 * {% set button_items = { 
   '0': {'link': '<a href="#" class="button filled">Button Text 1</a>'}, 
   '1': {'link': '<a href="#" class="button filled">Button Text 1</a>'}, 
   '2': {'link': '<a href="#" class="button filled">Button Text 1</a>'}} %}
 * {% include "@atoms/03-buttons/02-button-dropdown.twig" with {
 *   items: button_items
 * } %}
 */
#}

<div class="drop-button">
<a class="button filled"  href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Example <span class="icon"></span></a>
<ul class="dropdown-menu" x-placement="bottom-start">
    {%- for item in items -%}
    <li>
        {% include "@atoms/03-buttons/00-button.twig" with {
        link: item.link
        } %}
    </li>
    {%- endfor -%}
</ul>
</div>
  