{#
/**
 * Button Dropdown
 *
 * Button Dropdown
 *
 * @param string $button_url Link wohin der Button verlinkt wird
 * @param string $button_text Buttontext
 *
 * @example
 * {% set button_items = { '0': {'button_url': '#', 'button_text': faker('text', 25)}, '1': {'button_url': '#', 'button_text': faker('text', 25)}, '2': {'button_url': '#', 'button_text': faker('text', 25)}} %}
 * {% include "@atoms/03-buttons/02-button-dropdown.twig" with {
 *   items: button_items
 * } %}
 */
#}

<div class="drop-button">
    <a class="button filled"  href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Example <span class="icon"></span></a>
    <ul class="dropdown-menu" x-placement="bottom-start">
      {%- for item in items -%}
        <li>
            {% include "@atoms/03-buttons/00-button.twig" with {
                button_url: item.button_url,
                button_text: item.button_text,
                button_extra_class: item.button_class
            } %}
          </li>
      {%- endfor -%}
  </ul>
</div>

