{#
/**
 * Slider Image
 *
 * Hier wird der Slick Slider verwendet. Via Embed kann der Inhalt überschrieben werden, wenn z.B.
 * die vollständig gerenderte Liste verwendet werden muss, oder kein Hero oder Image durchsliden soll.
 * http://kenwheeler.github.io/slick/
 *
 * @param string $slider_id Eindeutige Slider ID
 * @param string $slider_extra_class Slider Class um den Slider zu stylen
 * @param string $teaserimagetag Vollstängies IMG-Tag mit Alt + Title + Pfad zum Bild
 *
 * @example
 * {% set sliderItems = {
 *   0: {'imagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png">'},
 *   1: {'imagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/232323/fff.png">'},
 *   2: {'imagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/474747/fff.png">'},
 * } %}
 * <h6>Slick Slider</h6>
 * {% include "@organisms/06-slider/slider_img.twig" with {
 *   sliderItems: sliderItems,
 *   slider_extra_class: 'default'
 * } %}
 */
#}

<div id="{{slider_id}}" class="slider-img {{slider_extra_class}}">
    {%- for slide in sliderItems -%}
      {% include "@atoms/06-images/00-image.twig" with {
        imagetag: slide.imagetag
      } %}
    {%- endfor -%}
  </div>
  