{#
/**
 * Slider Hero
 *
 * Hier wird der Slick Slider verwendet. Via Embed kann der Inhalt überschrieben werden, wenn z.B.
 * die vollständig gerenderte Liste verwendet werden muss, oder kein Hero oder Image durchsliden soll.
 * http://kenwheeler.github.io/slick/
 *
 * @param string $slider_id Eindeutige Slider ID
 * @param string $slider_extra_class Slider Class um den Slider zu stylen
 * @param string $hero_style Stil vom Hero Teaser (img-left, img-right, text-center, leer lassen für default)
 * @param string $hero_heading Titel für Teaser im Body (mit Link wenn es verlinkt werden soll)
 * @param string $hero_heading_level Header Level 1-6
 * @param string $hero_heading_class Spezielle Klasse wenn diese benötigt wird
 * @param string $heroimagetag Vollstängies IMG-Tag mit Alt + Title + Pfad zum Bild
 * @param string $hero_background_image Background Image muss immer befüllt sein, wenn ein Bild genutzt wird.
 * @param bool $background_overlay Wenn der Hero ein Bild als Overlay bekommen soll.
 * @param string $hero_text Teaser Body Inhalt benötigt vollständiges P-Tag
 * @param string $hero_teasertext_animation Klasse "animated" ist Pflicht zusätzlich kann man den Typ des Effekts hinzufügen.
 * @param string $hero_link Vollständiges A-Tag mit allen Optionen.
 *
 * @example
 * {% set sliderItems = {
 *   0: {'hero_heading': 'DEFAULT STYLE', 'hero_heading_level': 2, 'hero_text': faker('text', 400), 'hero_link': '<a href="#" class="button">Button Default Link Text</a>'},
 *   1: {'hero_heading': 'TEXT CENTER STYLE', 'hero_heading_level': 2, 'hero_text': faker('text', 400), 'hero_link': '<a href="#" class="button">Button Default Link Text</a>', 'hero_style': 'text-center'},
 *   2: {'hero_heading': 'DEFAULT STYLE WITH BACKGROUND', 'hero_heading_level': 2, 'hero_text': faker('text', 400), 'hero_link': '<a href="#" class="button">Button Default Link Text</a>', 'background_imagesrc': 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png', 'background_overlay': true},
 *   3: {'hero_heading': 'TEXT CENTER STYLE  WITH BACKGROUND', 'hero_heading_level': 2, 'hero_text': faker('text', 400), 'hero_link': '<a href="#" class="button">Button Default Link Text</a>', 'hero_style': 'text-center', 'background_imagesrc': 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png', 'hero_img_alt': faker('text', 50), 'hero_img_title': faker('text', 50), 'background_overlay': true},
 *   4: {'hero_heading': 'IMAGE LEFT', 'hero_heading_level': 2, 'hero_text': faker('text', 400), 'hero_link': '<a href="#" class="button">Button Default Link Text</a>', 'hero_style': 'img-left', 'teaserimagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png">', 'background_imagesrc': 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png'},
 *   5: {'hero_heading': 'IMAGE RIGHT', 'hero_heading_level': 2, 'hero_text': faker('text', 400), 'hero_link': '<a href="#" class="button">Button Default Link Text</a>', 'hero_style': 'img-right', 'teaserimagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png">', 'background_imagesrc': 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png'},
 * } %}
 * <h6>Slick Slider</h6>
 * {% include "@organisms/06-slider/slider_hero.twig" with {
 *   sliderItems: sliderItems,
 *   slider_extra_class: 'default'
 * } %}
 */
#}

<div id="{{slider_id}}" class="slider{% if slider_extra_class  %} {{slider_extra_class}}{% endif %}">
  {% block slider_inner %}
    {%- for slide in sliderItems -%}
      {% include "@molecules/09-hero/hero.twig" with {
        hero_heading: slide.hero_heading,
        hero_heading_level: slide.hero_heading_level,
        hero_text: slide.hero_text,
        hero_style: slide.hero_style,
        teaserimagetag: slide.teaserimagetag,
        hero_link: slide.hero_link,
        background_imagesrc: slide.background_imagesrc,
        background_overlay: slide.background_overlay,
      } %}
    {%- endfor -%}
  {% endblock %}
</div>
  