@import '../node_modules/slick-carousel/slick/slick.scss';

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 30px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  top: calc(50% - 25px);
  font-size: 0;
  border: none;
  z-index: 2;

  @include breakpoint(large) {
    top: calc(50% - 50px);
    height: 100px;
    width: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    background: #fff;
    height: 4px;
    width: 25px;
    top: calc(50% + 2px);
    left: 0;
    transition: all .2s ease-in-out;
    margin-top: -11px;

    @include breakpoint(large) {
      width: 50px;
      margin-top: -22px;
      left: 5px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background: #fff;
    height: 4px;
    width: 25px;
    top: calc(50% - 2px);
    left: 0;
    transition: all .2s ease-in-out;
    margin-top: 11px;

    @include breakpoint(large) {
      width: 50px;
      margin-top: 22px;
      left: 5px;
    }
  }

  &:hover {
    &::before {
      margin-top: -9px;

      @include breakpoint(large) {
        margin-top: -18px;
      }
    }

    &::after {
      margin-top: 9px;

      @include breakpoint(large) {
        margin-top: 18px;
      }
    }
  }
}

.slick-prev {
  left: 0;

  &::before {
    transform: rotate(-60deg);
  }

  &::after {
    transform: rotate(60deg);
  }

  &:hover {
    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  @include breakpoint(large) {
    left: 7px;
  }
}

.slick-next {
  right: 0;

  &::before {
    transform: rotate(60deg);
  }

  &::after {
    transform: rotate(-60deg);
  }

  &:hover {
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @include breakpoint(large) {
    right: 7px;
  }
}

.slick-slide {
  .hero {
    .content {
      padding: $slider-mobile-hero-content-padding;

      @include breakpoint(large) {
        padding: $slider-hero-content-padding;
      }
    }

    &.img-left {
      @include breakpoint(large) {
        display: flex !important;
      }

      .content {
        padding: $slider-mobile-hero-content-padding-left;

        @include breakpoint(large) {
          padding: $slider-hero-content-padding-left;
        }
      }
    }

    &.img-right {
      @include breakpoint(large) {
        display: flex !important;
      }

      .content {
        padding: $slider-mobile-hero-content-padding-right;

        @include breakpoint(large) {
          padding: $slider-hero-content-padding-right;
        }
      }
    }
  }
}

.slider {
  .activate {
    opacity: 1;
    filter: alpha(opacity=1 * 100);
  }
  
  .animated {
    opacity: 0;
    filter: alpha(opacity=0 * 100);
  }
}