{#
 /**
 * Image
 *
 * Dieses Pattern erlaubt die neue Responsive Image Funktion.
 * Es beginnt mit dem handelüblichen <img src="" alt="" title=""/>
 * Zusätzlich können nun srcset="" und sizes="" eingetragen werden.
 * Dokumention hier zu: https://blog.kulturbanause.de/2014/09/responsive-images-srcset-sizes-adaptive
 *
 * @param string $img_srcset Liste an Bildquellen
 * @param string $img_sizes Darstellungsgröße der Bilder in Viewports
 * @param string $img_src Pfad zum Bild
 * @param string $img_alt Alttext
 * @param string $img_title Titletext
 *
 * @example
 * <h6> Ohne Sourceset</h6>
 * {% include "@atoms/06-images/00-image.twig" with {
 *   imagetag: '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png">'
 * } %}
 * <h6> Bild verlinkt </h6>
 * {% include "@atoms/06-images/00-image.twig" with {
 *   imagetag: '<a href="#"><img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png 640w, https://dummyimage.com/1024x16:9/c7c7c7/fff.png 1024w, https://dummyimage.com/1200x16:9/c7c7c7/fff.png 1200w"></a>'
 * } %}
 * <h6> Mit Sourceset</h6>
 * {% include "@atoms/06-images/00-image.twig" with {
 *   imagetag: '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png 640w, https://dummyimage.com/1024x16:9/c7c7c7/fff.png 1024w, https://dummyimage.com/1200x16:9/c7c7c7/fff.png 1200w">',
 * } %}
 * <h6> Mit Sourceset und Sizes</h6>
 * {% include "@atoms/06-images/00-image.twig" with {
 *   imagetag: '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png 640w, https://dummyimage.com/1024x16:9/c7c7c7/fff.png 1024w, https://dummyimage.com/1200x16:9/c7c7c7/fff.png 1200w" sizes="(min-width: 1200px) 33vw, (min-width: 1024px) 50vw, 100vw">'
 * } %}
 */
#}

{{imagetag|raw}}

