{#
 /**
 * Picture
 *
 * Internet Explorer 9 doesn't recognise source elements that are wrapped in picture tags. See http://scottjehl.github.io/picturefill/#ie9
 *
 * @param array $sources Liste an Bildquellen
 *
 * @example
 * {% include "@atoms/06-images/01-pictures.twig" with {
 *   picturetag: '<picture><!--[if IE 9]><video style="display: none;"><![endif]--><source media="(min-width: 1024px)" srcset="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"/><source media="(min-width: 640px)" srcset="https://dummyimage.com/1024x16:9/c7c7c7/fff.png"/><source media="(min-width: 0px)" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png"/><!--[if IE 9]></video><![endif]--><img alt="Alternativ Text f端r dieses Bild" title="Title Text f端r dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"></picture>'
 * } %}
 * <h6>Mit Link</h6>
 * {% include "@atoms/06-images/01-pictures.twig" with {
 *   picturetag: '<a href="#"><picture><!--[if IE 9]><video style="display: none;"><![endif]--><source media="(min-width: 1024px)" srcset="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"/><source media="(min-width: 640px)" srcset="https://dummyimage.com/1024x16:9/c7c7c7/fff.png"/><source media="(min-width: 0px)" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png"/><!--[if IE 9]></video><![endif]--><img alt="Alternativ Text f端r dieses Bild" title="Title Text f端r dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"></picture></a>',
 * } %}
 */
#}

{{picturetag|raw}}