{#
 /**
 * Figure
 *
 * Dieses Pattern erlaubt die neue Responsive Image Funktion.
 * Es beginnt mit dem handelüblichen <img src="" alt="" title=""/>
 * Zusätzlich können nun srcset="" und sizes="" eingetragen werden.
 * Dokumention hier zu: https://blog.kulturbanause.de/2014/09/responsive-images-srcset-sizes-adaptive
 *
 * @param string $img_url Link fürs Bild
 * @param array $link_attributes array e.g "link_attributes": { 'target': '_blank'}
 * @param string $img_caption Bildunterschrift
 *
 * @example
 * <h6>As Image</h6>
 * {% include "@atoms/06-images/02-figure.twig" with {
 *   figureimgtag: '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png 640w, https://dummyimage.com/1024x16:9/c7c7c7/fff.png 1024w, https://dummyimage.com/1200x16:9/c7c7c7/fff.png 1200w" sizes="(min-width: 1200px) 33vw, (min-width: 1024px) 50vw, 100vw">',
 *   img_caption: faker('text', 150),
 *   figure_output_image_tag: true
 * } %}
 * <h6>As Picture</h6>
 * {% include "@atoms/06-images/02-figure.twig" with {
 *   figurepicturetag: '<picture><!--[if IE 9]><video style="display: none;"><![endif]--><source media="(min-width: 1024px)" srcset="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"/><source media="(min-width: 640px)" srcset="https://dummyimage.com/1024x16:9/c7c7c7/fff.png"/><source media="(min-width: 0px)" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png"/><!--[if IE 9]></video><![endif]--><img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"></picture>',
 *   img_caption: faker('text', 150),
 * } %}
 */
#}

<figure>
    {% block figure_content %}
      {% include "@atoms/06-images/03-responsive-image.twig" with {
        resimagetag: figureimgtag,
        respicturetag: figurepicturetag,
        res_output_image_tag: figure_output_image_tag,
      } %}
    {% endblock %}
    {%- if img_caption -%}
      <figcaption>
        {{ img_caption }}
      </figcaption>
    {%- endif -%}
  </figure>
  
  