{#
/**
 * Responsive Image
 *
 * Default Implementation von responsive image.
 *
 * @param $resimagetag: Vollständiges Image-Tag wird übermittelt
 * @param $respicturetag: Vollständiges Picture-Tag wird übermittelt
 * @param $output_image_tag: Wenn es sich im IMG handelt dann true, wenn es ein Picture sein soll dann leer lassen.
 *
 * @see template_preprocess()
 * @see template_preprocess_responsive_image()
 *
 * @example
 * {% set sources = {
 *   'i0': {'mediaquery': '(min-width: 1024px)', 'srcset': '../../../../images/b-connect/Development_Slide_Image1200.png'},
 *   'i1': {'mediaquery': '(min-width: 640px)', 'srcset': '../../../../images/b-connect/Development_Slide_Image1024.png'},
 *   'i2': {'mediaquery': '(min-width: 0px)', 'srcset': '../../../../images/b-connect/Development_Slide_Image640.png'},
 * } %}
 * {% set img_sizes = '(min-width: 1200px) 33vw, (min-width: 1024px) 50vw, 100vw' %}
 * <h6>Als Image</h6>
 * {% include "@atoms/06-images/03-responsive-image.twig" with {
 *   resimagetag: '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png 640w, https://dummyimage.com/1024x16:9/c7c7c7/fff.png 1024w, https://dummyimage.com/1200x16:9/c7c7c7/fff.png 1200w" sizes="(min-width: 1200px) 33vw, (min-width: 1024px) 50vw, 100vw">',
 *   res_output_image_tag: true,
 * } %}
 * <h6>Als Picture</h6>
 * {% include "@atoms/06-images/03-responsive-image.twig" with {
 *   respicturetag: '<picture><!--[if IE 9]><video style="display: none;"><![endif]--><source media="(min-width: 1024px)" srcset="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"/><source media="(min-width: 640px)" srcset="https://dummyimage.com/1024x16:9/c7c7c7/fff.png"/><source media="(min-width: 0px)" srcset="https://dummyimage.com/640x16:9/c7c7c7/fff.png"/><!--[if IE 9]></video><![endif]--><img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png"></picture>',
 * } %}
 */
#}

{%- if res_output_image_tag -%}
  {% include "@atoms/06-images/00-image.twig" with {
    imagetag: resimagetag
  } %}
{%- else -%}
  {% include "@atoms/06-images/01-pictures.twig" with {
    picturetag: respicturetag
  } %}
{%- endif -%}


