{#
/**
 * One Pager Effekt
 *
 * @example
 * {% set panels = {
 *   0: {'class': 'one', 'content': '<div><h1>Hier sehen Sie eine Scroll-Animation</h1><h6>Bitte weiter nach unten scrollen.<span style="margin-top: 20px;">ACHTUNG es geht nach Rechts</span></h6></div>'},
 *   1: {'class': 'two', 'content': '<canvas id="canvas" width="1020" height="322"></canvas><h6 style="margin-top: 20px;">Und nochmal nach Links</h6>'},
 *   2: {'class': 'three', 'content': '<div><h2>Und scrolling scrolling scrolling ...</h2></div>'},
 *   3: {'class': 'four', 'content':  '<div id="trigger"></div><svg id="svg" version="1.1" class="svgmagic" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 280" enable-background="new 0 0 800 280" xml:space="preserve"><line id="t1" x1="151.6" y1="68.4" x2="151.6" y2="68.4"/><line id="t2" x1="113.6" y1="70.6" x2="113.6" y2="70.6"/><line id="h1" x1="214.6" y1="51.4" x2="214.6" y2="51.4"/><line id="h2" x1="267.6" y1="86.6" x2="267.6" y2="86.6"/><line id="h3" x1="264.6" y1="47.4" x2="264.6" y2="47.4"/><polyline id="a1" points="305.6,51.6 305.6,51.6 305.6,51.6 "/><line id="a2" x1="293.6" y1="101.4" x2="293.6" y2="101.4"/><polyline id="n1" points="345.6,145.4 345.6,145.4 345.6,145.4 345.6,145.4"/><line id="k1" x1="411.6" y1="56.4" x2="411.6" y2="56.4"/><polyline id="k2" points="414.1,97.6 414.1,97.6 414.1,97.6 "/><line id="y1" x1="463.6" y1="62.6" x2="463.6" y2="62.6"/><line id="y2" x1="517.6" y1="56.6" x2="517.6" y2="56.6"/><ellipse id="o1" cx="544.6" cy="110.1" rx="0" ry="0"/><path id="u1" d="M580.6,63.4v43.1c0,0,3.2,42,26.2,44 s26.8-43.5,26.8-43.5V63.4"/><line id="e1" x1="669.6" y1="56.6" x2="669.6" y2="56.6"/><ellipse id="e2" cx="655" cy="150" rx="0" ry="0"/></svg><button id="svgmagicplay">Play Animation</button>' },
 *   4: {'class': 'five', 'content': '<a class="button"  target="_blank" href="/patterns/03-organisms-10-magic/index.html" style="margin-top: 20px;">Weitere Animation finden Sie hier!</a><a class="button filled"  target="_blank" href="/patterns/03-organisms/index.html" style="margin-top: 20px;">Weitere Organismen finden Sie hier!</a><br><a class="button text"  target="_blank" href="/patterns/02-molecules/index.html" style="margin-top: 20px;">Weitere Moleküle finden Sie hier!</a>'},
 * } %}
 * {% set sliderItems = {
 *   0: {'hero_heading': 'Keine Raketenwissenschaft.', 'hero_heading_level': 2, 'hero_text': 'Einfach gut programmiert.', 'hero_button_url': '#', 'hero_button_class': 'filled animated', 'hero_button_text': faker('text', 25), 'hero_style': 'img-left', 'hero_img_src': '../../../../images/b-connect/Development_Slide_Image.png', 'hero_img_alt': faker('text', 50), 'hero_img_title': faker('text', 50)},
 *   1: {'hero_heading': '20 Jahre  b-connect.', 'hero_heading_level': 2, 'hero_text': '13 Jahre Drupal.', 'hero_button_url': '#', 'hero_button_class': 'filled animated', 'hero_button_text': faker('text', 25), 'hero_style': 'img-right', 'hero_img_src': '../../../../images/b-connect/consulting_Slide_Image.png', 'hero_img_alt': faker('text', 50), 'hero_img_title': faker('text', 50)},
 *   2: {'hero_heading': 'Vom Scheitel bis zur Sohle.', 'hero_heading_level': 2, 'hero_text': 'Perfekte Server Architektur.', 'hero_button_url': '#', 'hero_button_class': 'filled animated', 'hero_button_text': faker('text', 25), 'hero_style': 'img-left', 'hero_img_src': '../../../../images/b-connect/Service_Slide_Image.png', 'hero_img_alt': faker('text', 50), 'hero_img_title': faker('text', 50)},
 * } %}
 * {% include "@pages/onepager-effect.twig" with {
 *   items: panels,
 *   sliderItems: sliderItems,
 *   logo_img_alt: faker('text', 50),
 *   logo_img_title: faker('text', 50),
 *   logo_img_src_mobile: '../../../../images/logos/schriftzug.png',
 *   logo_img_src: '../../../../images/logos/bc_logo_text.png',
 *   logo_img_href: '/patterns/06-pages-00-intro/06-pages-00-intro.html',
 * } %}
 */
#}


{% include "@organisms/03-header/header.twig" with {
  menuitems: mainmenu.items,
  menu_id: 'menu_id_new',
  logo_img_alt: faker('text', 50),
  logo_img_title: faker('text', 50),
  search_submit_value: "Suche starten",
  search_submit_id: 'search-view',
  search_svg: '<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"> <circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle> <path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg>',
  search_text_placeholder: 'Suche',
  search_text_input_id: 'automplete-search_new',
  search_data_drupal_selector_input: 'automplete-search',
  search_label_for: 'search-for',
  content_class: 'test',
  search_form_id: "search-form-id_new"
} %}
<section style="margin: 20px 0;">
    {% include "@organisms/06-slider/slider_hero.twig" %}
  </section>
<section style="height: 100%;">
    {% include "@organisms/10-magic/_scrollmagic.twig" with { content_array: items} %}
</section>
