{#
 /**
 * Star Rating / Voting API Widget
 *
 * @param string $upload_label Text über Upload Button
 * @param int $upload_button_size Größe des Button
 * @param string $upload_placeholder Text auf Button, wird nach Auswahl ersetzt durch den Dateinamen
 * @param string $upload_button_value Text auf dem Absenden Button
 * @param string $form_help_text Der Beschreibungstext / Hilfstext
 *
 * @example
 * <h1>Hier kommt das Voting API Widget hin</h1>
 * <div class="votingapi-widgets fivestar">
 *   <form class="vote-vote-votingapi-fivestar-form vote-form" id="vote-form--6" data-drupal-selector="vote-vote-votingapi-fivestar-form-6" action="/league-of-angels-3" method="post" accept-charset="UTF-8" novalidate="novalidate">
 *     <div class="js-form-item form-item js-form-type-select form-item-value js-form-item-value form-no-label">
 *       <div class="br-wrapper br-theme-fontawesome-stars-o"><select autocomplete="off" data-default-value="-1" data-style="fontawesome-stars-o" data-drupal-selector="edit-value" id="edit-value--6" name="value" class="form-select" style="display: none;"><option value="1">Poor</option><option value="2">Not so poor</option><option value="3">average</option><option value="4">good</option><option value="5">very good</option></select><div class="br-widget"><a href="#" data-rating-value="1" data-rating-text="Poor" class=""></a><a href="#" data-rating-value="2" data-rating-text="Not so poor" class=""></a><a href="#" data-rating-value="3" data-rating-text="average" class=""></a><a href="#" data-rating-value="4" data-rating-text="good" class=""></a><a href="#" data-rating-value="5" data-rating-text="very good"></a><div class="br-current-rating"></div></div></div>
 *     </div>
 *     <input autocomplete="off" data-drupal-selector="form-4dkxr2-vopm9khf5arsw93fga8wdimazcux6jlswcia" type="hidden" name="form_build_id" value="form-4dkXr2-vopm9KHf5arsw93FGa8wDImazCUx6JLsWciA">
 *     <input data-drupal-selector="edit-vote-vote-votingapi-fivestar-form-6" type="hidden" name="form_id" value="vote_vote_votingapi_fivestar_form">
 *     <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--13" name="op" value="Save" class="button button--primary js-form-submit form-submit" style="display: none;">
 *     <div class="vote-result js-form-wrapper form-wrapper" data-drupal-selector="edit-result" id="edit-result--6">(0)</div>
 *   </form>
 * </div>
 */
#}

