{#
/**
 * Colors
 *
 * Alle Farben aus dem CI
 * mit "$variablen_name" werden die Farben im CSS genutzt, der Farbcode wird niemals verwendet.
 *
 * @example
 *  {% set items = { '$primary': '#002e51', '$secondary': '#ff651f', '$success': '#4bb543', '$warning': '#ffae00', '$error': '#c00', '$white': '#fff', '$black': '#000', 
 *                 '$support1': '#87003e', '$support2': '#b1babe', '$support3': '#edebe5', '$support4': '#ff942e', '$light-grey': 'rgb(217, 237, 255)', '$black-transparent': 'rgba(0, 0, 0, .5)' } %}
 *  <ul class="sg-colors">
 *    {% for key, item in items %}
 *      <li>
 *        <div class="sg-swatch" style="background: {{item}};"></div>
 *        <div class="sg-info">
 *         <span>{{item}}</span> <br/>
 *         <code>{{key}}</code>
 *        </div>
 *      </li>
 *    {% endfor %}
 *  </ul>
 */
#}
