{#
/**
 * Breakpoints
 *
 * Eine kleine Hilfe zur Bestimmung der auf dieser Webseite vorhandenen Breakpoints die genutzt werden können.
 *
 * @example
 * <div class="breakpoints">
 *   <div style="max-width: 639px; height: 50px; font-weight: 600; line-height: 50px; background-color: #5b5b5b;">Small: 0 - 639px </div>
 *   <div style="max-width: 1023px; height: 50px; font-weight: 600; line-height: 50px; background-color: #7b7b7b;">Medium: 640px - 1023px </div>
 *   <div style="max-width: 1199px; height: 50px; font-weight: 600; line-height: 50px; background-color: #9b9b9b;">Large: 1024px - 1199px </div>
 *   <div style="max-width: 1439px; height: 50px; font-weight: 600; line-height: 50px; background-color: #bbbbbb;">xLarge: 1200px - 1439px </div>
 *   <div style="max-width: 100%; height: 50px; font-weight: 600; line-height: 50px; background-color: #dbdbdb;">xxLarge: 1440px - 100% </div>
 * </div>
 */
#}