{#
/**
 * Variables
 *
 * Alle Variablen
 *
 * @example
 * <h6>Colors</h6>
 * $primary<br />
 * $secondary<br />
 * $success<br />
 * $warning<br />
 * $error<br />
 * $white<br />
 * $light-grey<br />
 * $medium-grey<br />
 * $dark-grey<br />
 * $black<br />
 * $support1<br />
 * $support2<br />
 * $support3<br />
 * $support4<br />
 * $black-transparent<br />
 * <h6>Breakpoints</h6>
 * $global-max-width<br />
 * $breakpoints: (<br />
 * &nbsp;&nbsp;small: 0<br />
 * &nbsp;&nbsp;medium: 640<br />
 * &nbsp;&nbsp;large: 1024<br />
 * &nbsp;&nbsp;xlarge 1200<br />
 * &nbsp;&nbsp;xxlarge 1440<br />
 * )<br />
 * <h6>Font</h6>
 * $fa-font-path<br />
 * $website-font-path<br />
 * $base-font<br />
 * $fontawesome<br />
 * $bc-icon<br />
 * $global-font-size<br />
 * $lead-font-size<br />
 * <h6>Horizontal Line</h6>
 * $hr-icon<br />
 * <h6>Button</h6>
 * $round-button-height<br />
 * $round-button-width<br />
 * $color-button-drop-menu<br />
 * $background-button-drop-menu<br />
 * $border-button-drop-menu<br />
 * $background-hover-button-drop-menu<br />
 * $color-hover-button-drop-menu<br />
 * <h6>Card</h6>
 * $card-background<br />
 * $card-border-width<br />
 * $card-border-color<br />
 * $card-border-radius<br />
 * $card-body-padding<br />
 * $card-header-padding<br />
 * $card-header-color<br />
 * $card-header-border<br />
 * $card-footer-padding<br />
 * $card-footer-color<br />
 * $card-footer-border<br />
 * <h6>Accordion</h6><br />
 * $acc-item-background<br />
 * $acc-item-border-width<br />
 * $acc-item-border-color<br />
 * $acc-item-border-radius<br />
 * $acc-item-body-padding<br />
 * $acc-item-header-padding<br />
 * $acc-item-header-color<br />
 * $acc-item-header-border<br />
 * $acc-item-header-link-color<br />
 * $acc-item-footer-padding<br />
 * $acc-item-footer-color<br />
 * $acc-item-footer-border<br />
 * $acc-item-footer-link-color<br />
 * <h6>Tabs</h6>
 * $tab-navigation-border<br />
 * $tab-link-padding<br />
 * $tab-active-link-color<br />
 * $tab-active-link-background<br />
 * $tab-active-link-border-color<br />
 * $tab-link-border-radius<br />
 * $tab-hover-link-border-color<br />
 * <h6>Infobox</h6>
 * $infobox-max-width<br />
 * $infobox-padding<br />
 * $infobox-content-background<br />
 * $infobox-content-border<br />
 * $infobox-content-border-radius<br />
 * $infobox-divider<br />
 * $infobox-close-fontsize<br />
 * $infobox-close-color<br />
 * $infobox-close-opacity<br />
 * <h6>Hero</h6>
 * $hero-background-color<br />
 * $hero-content-padding<br />
 * $hero-content-color-background<br />
 * $hero-content-max-width<br />
 * $hero-content-color<br />
 * <h6>Breadcrumb</h6>
 * $breadcrumb-active-item<br />
 * $breadcrumb-nav-padding<br />
 * $breadcrumb-divider-color<br />
 * $breadcrumb-space-between-items<br />
 * $breadcrumb-item-color
 * $breadcrumb-item-hover-border-color
 * <h6>Footermenu</h6>
 * $footer-menu-separator<br />
 * $footer-menu-item-color<br />
 * $footer-menu-title-color<br />
 * $footer-menu-item-hover-border-color<br />
 * <h6>Inline Menu</h6>
 * $inline-menu-item-background<br />
 * $inline-menu-item-hover-background<br />
 * $inline-menu-item-height<br />
 * $inline-menu-item-font-size<br />
 * $inline-menu-item-color<br />
 * $inline-menu-item-padding<br />
 * $inline-menu-item-hover-color<br />
 * $flyout-min-width<br />
 * $dropdown-link-color<br />
 * <h6>Submenu Block</h6>
 * $submenu-block-link-color<br />
 * $submenu-block-link-bg-color<br />
 * $submenu-block-border-color<br />
 * $submenu-block-hover-link-color<br />
 * $submenu-block-hover-link-bg-color<br />
 * <h6>Pager</h6>
 * $pager-border-radius<br />
 * $pager-link-padding<br />
 * $pager-link-color<br />
 * $pager-link-bg-color<br />
 * $pager-link-border-color<br />
 * $pager-hover-link-bg-color<br />
 * $pager-hover-link-color<br />
 * <h6>Status</h6>
 * $status-close-fontsize<br />
 * $status-close-opacity<br />
 * $status-close-padding<br />
 * $status-padding<br />
 * $status-border-radius<br />
 * <h6>Teaser</h6>
 * $teaser-image-size<br />
 * $teaser-border-radius<br />
 * $teaser-body-padding<br />
 * $teaser-body-padding-left<br />
 * $teaser-body-padding-right<br />
 * $teaser-breakpoint: medium<br />
 * <h6>Scollmagic</h6>
 */
#}





