{#
/**
 * Contact
 *
 * @example
 * {% include "@organisms/08-forms/00-contact.twig" with {
 *   name_label_for: faker('text', 15),
 *   name_input_id: 'textfield-name',
 *   name_placeholder: 'Name',
 *   email_label_for: faker('text', 15),
 *   email_input_id: 'textfield-email1',
 *   email_placeholder: 'E-Mail',
 *   subject_label_for: faker('text', 15),
 *   subject_input_id: 'textfield-subject',
 *   subject_placeholder: 'Betreff',
 *   message_placeholder: 'Nachricht',
 *   contact_submit_id: 'user-login-form3',
 *   contact_submit_value: 'send',
 *   contact_heading: 'Kontakt Formular'
 * } %}
 */
#}

<section>
  {% include "@atoms/00-text/01-headings.twig" with {
    "heading_level": 1,
    "heading": contact_heading
  } %}
  <form class="contact-form" data-drupal-selector="contact-form" action="/thank-you-page" method="post" id="contact-form" accept-charset="UTF-8" novalidate="novalidate">
    {% include "@atoms/04-forms/01-textfield.twig" with {
      text_label_for: name_label_for,
      text_input_id: name_input_id,
      text_placeholder: name_placeholder,
      autocorrect: 'off',
      spellcheck: false,
      autocomplete: 'on',
      type_input: 'text'
    } %}

    {% include "@atoms/04-forms/01-textfield.twig" with {
      text_label_for: email_label_for,
      text_input_id: email_input_id,
      text_placeholder: email_placeholder,
      form_required: true,
      autocorrect: 'off',
      spellcheck: false,
      autocomplete: 'on',
      type_input: 'email'
    } %}

    {% include "@atoms/04-forms/01-textfield.twig" with {
      text_label_for: subject_label_for,
      text_input_id: subject_input_id,
      text_placeholder: subject_placeholder,
      form_required: true,
      autocorrect: 'on',
      spellcheck: true,
      autocomplete: 'off',
      type_input: 'text'
    } %}

    {% include "@atoms/04-forms/00-textarea.twig" with {
      placeholder: message_placeholder,
      autocorrect: 'on',
      form_required: true,
      spellcheck: true,
      autocomplete: 'off'
    } %}

    {% include "@atoms/04-forms/07-submit.twig" with {
      submit_id: contact_submit_id,
      submit_value: contact_submit_value
    } %}
  </form>
</section>
