{#
/**
 * Newsletter
 *
 * @example
 * {% set title_items = {0: 'keine', 1: 'Dr.', 2: 'Prof.'} %}
 * {% set form_of_address_items = {0: 'Herr', 1: 'Frau'} %}
 * {% include "@organisms/08-forms/02-newsletter.twig" with {
 *   title_items: title_items,
 *   title_label: 'Titel',
 *   form_of_address_items: form_of_address_items,
 *   form_of_address_label: 'Anrede',
 *   first_name_label_for: faker('text', 15),
 *   first_name_input_id: 'textfield-first-name',
 *   first_name_placeholder: 'Vorname',
 *   last_name_label_for: faker('text', 15),
 *   last_name_input_id: 'textfield-last-name',
 *   last_name_placeholder: 'Nachname',
 *   email_label_for: faker('text', 15),
 *   email_input_id: 'textfield-email2',
 *   email_placeholder: 'E-Mail',
 *   newsletter_submit_id: 'user-login-form2',
 *   newsletter_submit_value: 'Absenden',
 *   newsletter_heading: 'Newsletter Formular',
 * } %}
 */
#}

<section>
  {%- if newsletter_heading -%}
    {% include "@atoms/00-text/01-headings.twig" with {
      "heading_level": 1,
      "heading": newsletter_heading
    } %}
  {%- endif -%}
  <form class="newsletter-form" data-drupal-selector="optin_form" action="https://login.mailingwork.de/optin/optin/execute" method="post" id="optin_form" accept-charset="UTF-8" novalidate="novalidate">

    <input name="account_id"  value="13027" type="hidden" />
    <input name="account_code"  value="3Q6bd" type="hidden" />
    <input name="optinsetup_id"  value="11" type="hidden" />
    <input name="optinsetup_code"  value="zGk0x" type="hidden" />
    <input id="fa_4" name="ic"  value="" type="hidden" />

    {%- if title_items or form_of_address_items -%}
      <div class="row first">
        {%- if title_items -%}
          {% include "@atoms/04-forms/02-select.twig" with {
            items: title_items,
            form_label: title_label,
            select_id: 'edit-select1',
          } %}
        {%- endif -%}

        {%- if form_of_address_items -%}
          {% include "@atoms/04-forms/02-select.twig" with {
            items: form_of_address_items,
            form_label: form_of_address_label,
            select_id: 'edit-select',
          } %}
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if first_name_input_id or last_name_input_id -%}
      <div class="row">
        {%- if first_name_input_id -%}
          {% include "@atoms/04-forms/01-textfield.twig" with {
            text_label_for: first_name_label_for,
            text_input_id: first_name_input_id,
            text_placeholder: first_name_placeholder,
            autocorrect: 'off',
            spellcheck: false,
            autocomplete: 'on',
            type_input: 'text'
          } %}
        {%- endif -%}

        {%- if last_name_input_id -%}
          {% include "@atoms/04-forms/01-textfield.twig" with {
            text_label_for: last_name_label_for,
            text_input_id: last_name_input_id,
            text_placeholder: last_name_placeholder,
            autocorrect: 'off',
            spellcheck: false,
            autocomplete: 'on',
            type_input: 'text'
          } %}
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="row last">
      {% include "@atoms/04-forms/01-textfield.twig" with {
        text_label_for: email_label_for,
        text_input_id: email_input_id,
        text_placeholder: email_placeholder,
        form_required: true,
        autocorrect: 'off',
        spellcheck: false,
        autocomplete: 'on',
        type_input: 'email'
      } %}

      {% include "@atoms/04-forms/07-submit.twig" with {
        submit_id: newsletter_submit_id,
        submit_value: newsletter_submit_value
      } %}
    </div>
  </form>
</section>
