{#
/**
 * Default Drupal Site Container
 *
 * Beispiel für einen Site Container in Drupal
 *
 * @example
 * <div class="preview masonry-layout">
 *   <div class="masonry-grid grid-four">
 *     {%- for i in 1..20 -%}
 *       <div class="grid-item">
 *         Grid {{i}}
 *       </div>
 *     {%- endfor -%}
 *   </div>
 * </div>
 *
 */
#}

{% set main_base_class = main_base_class|default('main') %}
{% set main_content_base_class = main_content_base_class|default('main-content') %}

<div class="layout-container">
  {% block page_header %}
  {% endblock %}

  {% block page_system %}
  {% endblock %}

  <main role="main" class="{{main_base_class}}">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="{{ main_content_base_class }}">
      {% block page_content %}
      {% endblock %}
    </div>

  </main>

  {% block page_footer %}
  {% endblock %}
</div>