{#
/**
 * Accordion
 *
 * Vollständiges Accordion, das aus Accordion Items besteht.
 * Der Inhalt kann überschrieben z.B. Wenn man bereits die gerenderte Liste übergeben möchte
 * statt es mit einer FOR-Schleife zu durchlaufen. siehe molecules/02-accordion-item
 *
 * @param int $key Key vom Array der Accordion Elemente (muss im Array bestückt werden)
 * @param string $accordion_title Titel vom Accordion
 * @param string $accordion_parent Parent Element für das Accordion "collapsible elements under the specified parent will be closed when one of the collapsible item is shown"
 * @param string $card_heading Titel für Card im Body (mit Link wenn es verlinkt werden soll)
 * @param string $card_heading_level Header Level 1-6
 * @param string $card_heading_class Spezielle Klasse wenn diese benötigt wird
 * @param string $card_subheading Sub-Titel für Card im Body (mit Link wenn es verlinkt werden soll)
 * @param string $card_subheading_level Subheadline Level 1-6
 * @param string $card_subheading_class Spezielle Klasse wenn diese benötigt wird
 * @param string $card_text Card Body Inhalt benötigt vollständiges P-Tag
 * @param string $card_link Vollständiges A-Tag mit allen Optionen.
 *
 * @example
 * {% set accordion_items = {
 *   0: {'accordion_parent': 'accordion', 'accordion_title': faker('text', 50), 'accordion_heading': faker('text', 50), 'accordion_heading_level': 3, 'accordion_text': faker('text', 200)},
 *   1: {'accordion_parent': 'accordion', 'accordion_title': faker('text', 50), 'accordion_heading': faker('text', 50), 'accordion_heading_level': 3, 'accordion_text': faker('text', 200)},
 *   2: {'accordion_parent': 'accordion', 'accordion_title': faker('text', 50), 'accordion_heading': faker('text', 50), 'accordion_heading_level': 3, 'accordion_text': faker('text', 200)},
 *   3: {'accordion_parent': 'accordion', 'accordion_title': faker('text', 50), 'accordion_heading': faker('text', 50), 'accordion_heading_level': 3, 'accordion_text': faker('text', 200)},
 * } %}
 * {% include "@organisms/00-accordion/accordion.twig" with {
 *   accordion_items: accordion_items,
 *   accordion_parent: 'accordion'
 * } %}
 */
#}

<div class="accordion-wrapper" id="{{accordion_parent}}">
  {% block accordion_inner %}
    {% for key, accordion_item in accordion_items %}
      {% include "@molecules/02-accordion-item/accordion-item.twig" with {
        "accordion_parent": accordion_item.accordion_parent,
        "accordion_title": accordion_item.accordion_title,
        "card_heading": accordion_item.accordion_heading,
        "card_heading_level": accordion_item.accordion_heading_level,
        "card_heading_link_url": accordion_item.accordion_heading_link_url,
        "card_heading_link_attributes": accordion_item.accordion_heading_link_attributes,
        "card_small": accordion_item.accordion_small,
        "card_subheading_level": accordion_item.accordion_subheading_level,
        "card_subheading": accordion_item.accordion_subheading,
        "card_text": accordion_item.accordion_text,
        "card_button_url": accordion_item.accordion_button_url,
        "button_extra_class": accordion_item.accordion_button_extra_class,
        "button_text": accordion_item.accordion_button_text,
        "key": key,
      } %}
    {% endfor %}
  {% endblock %}
</div>
