{#
/**
 * Social Media
 *
 * Reine Channel Links.
 * Für Share muss das Template kopiert und erweitert werden.
 *
 * @param array $socialmedia_urls Liste aller Social Media Channels die angezeigt werden sollen. In diese Liste wird URL und Titel für die Kanäle benötigt.
 *
 * @example
 * {% include "@molecules/08-social-media/social-media.twig" with {
 *   socialmedia_urls: socialmedia.items
 * } %}
 *
 */
#}

<ul class="social-media">
  {%- for socialmedia_url in socialmedia_urls -%}
    <li><a href="{{socialmedia_url.url}}" class="{{socialmedia_url.title|lower}}" title="{{socialmedia_url.title}}"></a></li>
  {%- endfor -%}
</ul>
