{#
/**
  * Footer
  *
  * Vollständiger Footer mit 2 Spalten.
  * Der Inhalt der Spalten kann man überschreiben wenn man Embed verwendet.
  * Default ist Menü, Unternehmen Infos und Copyright
  *
  * @param array $items Array mit allen Menü Items
  * @param array $url Link vom Menüpunkt
  * @param array $title Title vom Menüpunkt
  * @param string $company_name Name des Unternehmens
  * @param string $company_data Anschrift des Unternehmens
  * @param string $copyright Copyright der Webseite
  * @param array $socialmedia_urls Liste alle Links für Social Media Kanäle
  * @param string $slogan Slogan des Unternehmens
  *
  * @example
  * {% include "@organisms/07-footer/footer.twig" with {
  *    items: footermenu.items,
  *    company_name: 'democompany',
  *    company_data: '<p>TEL.: +49 12 123 321-0<br>FAX: +49 12 123 321-99<br><a href="mailto:support@democompany.de">support@democompany.de</a></p>',
  *    copyright_company: '© democompany GmbH',
  *    socialmedia_urls: socialmedia.items,
  *    slogan: '<p class="slogan">demo company! This is our slogan</p>',
  * } %}
  */
#}

<footer class="footer">
  <div class="footer-container top">
    {% block footer_left %}
      <div class="navigation left">
        <div class="footermenu">
          {% include "@molecules/01-navigation/02-footer-menu/footer-menu.twig" with {
            menu_title: "Footer Menu Left",
            items: items
          } %}
        </div>
      </div>
    {% endblock %}
    {% block footer_right %}
      <div class="company-info right">
        <div class="company-title">{{company_name}}</div>
        {% set copyright_date = "now"|date("Y") %}
        {% set copyright = '<p>' ~ [copyright_company, copyright_date]|join(', ' )~ '</p>' %}
        {% include "@atoms/00-text/00-paragraph.twig" with {
          paragraph_content: company_data,
        } %}
        {% include "@atoms/00-text/00-paragraph.twig" with {
          paragraph_content: copyright,
        } %}
        {% include "@molecules/08-social-media/social-media.twig" with {
          socialmedia_urls: socialmedia_urls
        } %}
      </div>
    {% endblock %}
  </div>

  {% block footer_bottom %}
    <div class="footer-container bottom">
      {% include "@atoms/00-text/00-paragraph.twig" with {
        paragraph_content: slogan,
      } %}
    </div>
  {% endblock %}
</footer>
