{#
/**
  * Footer
  *
  * @param array $items Array mit allen Menü Items
  * @param string $menu_id eindeutige ID
  * @param string $logo_img_alt Alt Title vom Logo
  * @param string $logo_img_title Title vom Logo
  *
  * @example
  * {% include "@organisms/07-footer/footer.twig" with {
  *    items: footermenu.items,
  *    company_name: 'b-connect',
  *    company_data: 'TEL.: +49 30 217 363-0<br>FAX: +49 30 217 363-99<br><a href="mailto:mail@b-connect.de">mail@b-connect.de</a>',
  *    copyright_company: '© b-connect GmbH',
  *    socialmedia_urls: socialmedia.items,
  *    slogan: 'b-connect. Made in Berlin. Since 1998!',
  *    slogan_paragraph_class: 'slogan',
  * } %}
  */
#}

<footer class="footer">
  <div class="footer-container top">
    <div class="navigation left footermenu-grid grid-three">
      <div class="footermenu">
        {% include "@molecules/01-navigation/02-footer-menu/footer-menu.twig" with {
          menu_title: "Footer Menü 1",
          items: items
        } %}
      </div>
      <div class="footermenu">
        {% include "@molecules/01-navigation/02-footer-menu/footer-menu.twig" with {
          menu_title: "Footer Menü 2",
          items: items
        } %}
      </div>
      <div class="footermenu">
        {% include "@molecules/01-navigation/02-footer-menu/footer-menu.twig" with {
          menu_title: "Footer Menü 3",
          items: items
        } %}
      </div>
    </div>
    <div class="company-info right">
      <div class="company-title">{{company_name}}</div>
      {% set copyright_date = "now"|date("Y") %}
      {% set copyright = [copyright_company, copyright_date]|join(', ') %}
      {% include "@atoms/00-text/00-paragraph.twig" with {
        paragraph_content: company_data,
      } %}
      {% include "@atoms/00-text/00-paragraph.twig" with {
        paragraph_content: copyright,
      } %}
      {% include "@molecules/08-social-media/social-media.twig" with {
        socialmedia_urls: socialmedia_urls
      } %}
    </div>
  </div>
  <div class="footer-container bottom">
    {% include "@atoms/00-text/00-paragraph.twig" with {
      paragraph_content: slogan,
      paragraph_class: slogan_paragraph_class,
    } %}
  </div>
</footer>
