/* ------------------------------------ *\
  #MAIN COLORS
\* ------------------------------------ */
$primary: #002e51;
$secondary: #ff651f;

/* ------------------------------------ *\
  #CONTRAST COLORS
\* ------------------------------------ */
$white: #fff;
$black: #000;

/* ------------------------------------ *\
  #SUPPORTING COLORS
\* ------------------------------------ */
$berry: #87003e;
$silver: #b1babe;
$warm-grey: #edebe5;
$bright-orange: #ff942e;
$light-grey: rgb(217, 237, 255);
