{#
/**
 * Header
 *
 * @param array $items Array mit allen Menü Items
 * @param string $menu_id eindeutige ID
 * @param string $logo_img_alt Alt Title vom Logo
 * @param string $logo_img_title Title vom Logo
 *
 * @example
 * {% include "@organisms/03-header/header.twig" with {
 *   menuitems: mainmenu.items,
 *   menu_id: 'menu_id_new',
 *   logo_img_alt: faker('text', 50),
 *   logo_img_title: faker('text', 50),
 *   logo_img_src: '../../../../images/logos/logo.png',
 *   logo_img_href: '/?p=pages-intro',
 *   logo_img_src_mobile: '../../../../images/logos/schriftzug.png',
 *   search_submit_value: "Suche starten",
 *   search_submit_id: 'search-view2',
 *   search_svg: '<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"> <circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle> <path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg>',
 *   search_text_placeholder: faker('text', 50),
 *   search_text_input_id: 'automplete-search3',
 *   search_data_drupal_selector_input: 'automplete-search3',
 *   search_text_icon_position: 'right',
 *   search_label_for: 'search-for',
 *   search_form_id: 'search_form_id2',
 *   mobile_search_text_placeholder: 'Mobile Placeholder',
 *   mobile_search_text_input_id: 'automplete-search10',
 *   mobile_search_submit_id: 'mobile_search_submit_id10',
 * } %}
 */
#}


<header class="header">
  <div class="site-info">
    <div class="logo-wrapper">
      {% include "@protons/02-logos/00-logo.twig" with {
        img_src: logo_img_src,
        img_alt: logo_img_alt,
        img_title: logo_img_title,
        img_href: logo_img_href,
      } %}
    </div>
    <div class="search-wrapper">
      {% include "@molecules/10-block/search-block.twig" with {
        search_submit_value: search_submit_value,
        search_submit_id: search_submit_id,
        search_svg: search_svg,
        search_text_placeholder: search_text_placeholder,
        search_text_input_id: search_text_input_id,
        search_data_drupal_selector_input: search_data_drupal_selector_input,
        search_text_icon_position: 'right',
        search_label_for: search_label_for,
        search_form_id: search_form_id
      } %}
    </div>
  </div>
  <div class="navigation">
    {% include "@molecules/01-navigation/00-main-menu/main-menu.twig" with {
      menu_id: menu_id,
      items: menuitems,
      url: item.url,
      title: item.title,
      mobile_search_text_input_id: mobile_search_text_input_id,
      mobile_search_submit_id: mobile_search_submit_id,
    } %}
  </div>
</header>



