#sg-patterns {
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 .5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sg-colors li {
  flex: 0 0 15.98%;
  padding: .3em;
  margin: 0 .5em .5em 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: .3em;
  border-radius: 5px;
  border: 1px solid #444;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

.sg-subtype {
  display: none;
}

.patternlab-wrapper {
  .icon-set {
    display: flex;
    padding: 0;
    flex-wrap: wrap;

    li {
      flex: 0 0 12.1%;
      text-align: center;
      border: 1px dashed $primary;
      margin: 2px;
      padding: 10px;
    }
  }

  .no-icon {
    @include font($base-font, 'bold');

    > div {
      font-size: 30px;
      margin-top: 7px;
    }
  }

  .fa {
    font-size: 30px;
    color: $primary;

    .no-icon {
      > div {
        font-size: 16px;
      }
    }
  }

  .drop {
    min-height: 150px;
  }

  .layout-grid {
    > div {
      border: 2px solid $primary;
      @include xy-gutters($gutter-position: top left right bottom);

      &:nth-child(odd) {
        background: lightgray;
      }

      &:nth-child(even) {
        background: lightblue;
      }
    }
  }
}