{#
/**
 * Mansonry Grid 4
 *
 * Beispiel Template für ein Masonry Grid Layout
 * Für Optionen siehe Masonry Documention https://masonry.desandro.com/
 *
 * @example
 * <div class="preview masonry-layout">
 *   <div class="masonry-grid grid-four">
 *     {%- for i in 1..20 -%}
 *       <div class="grid-item">
 *         Grid {{i}}
 *       </div>
 *     {%- endfor -%}
 *   </div>
 * </div>
 *
 */
#}

<div class="masonry-layout">
  <div class="masonry-grid grid-{{count}}">
    {%- for item in items -%}
      <div class="grid-item">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
    {%- endfor -%}
  </div>
</div>
