<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-once/2.1.1/jquery.once.js"></script>
    <link rel="stylesheet" href="/vendor/css/styles.css?" media="all" />
    <script src="/vendor/js/scripts.js"></script>


    <script>
      $(document).ready(function() {
        Drupal.attachBehaviors($('body'), {})
      })
    </script>
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="patternlab-wrapper{{ bodyClass }}">
