{#
/**
 * Hero
 *
 * Hero mit unterschiedlichen Varianten der Darstellung
 *
 * @param string $hero_style Hero Style -> img-left, img-right, text-center, leave empty for default
 * @param bool $hero_img_as_background true / false
 * @param string $hero_img_src Hero Bild Quelle
 * @param string $hero_img_alt Hero Bild Alternativ Text
 * @param string $hero_img_title Hero Bild Titel
 * @param int $hero_img_height Height ohne Unit Angabe.
 * @param string $hero_heading_level Headline Level
 * @param string $hero_heading Headline Text
 * @param string $hero_text Hero Text
 * @param string $hero_button_url Button URL
 * @param string $hero_button_class Button Extra Klasse siehe Button Pattern
 * @param string $hero_button_text Button Text
 *
 * @example
 * <h6>Default Style</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: faker('text', 400),
 *   hero_button_url: '#',
 *   hero_button_class: 'filled animated',
 *   hero_button_text: faker('text', 25),
 * } %}
 * <h6>Text Center Style</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: faker('text', 400),
 *   hero_button_url: '#',
 *   hero_button_class: 'filled animated',
 *   hero_button_text: faker('text', 25),
 *   hero_style: 'text-center'
 * } %}
 * <h6>Default Style mit Hintergrundbild</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: faker('text', 400),
 *   hero_button_url: '#',
 *   hero_button_class: 'filled animated',
 *   hero_button_text: faker('text', 25),
 *   hero_img_src: '../../../../images/b-connect/Service_Slide_Image.png',
 *   hero_img_alt: faker('text', 50),
 *   hero_img_title: faker('text', 50),
 *   hero_img_as_background: true,
 * } %}
 * <h6>Hintergrundbild + Mittigen Text</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: faker('text', 400),
 *   hero_button_url: '#',
 *   hero_button_class: 'filled animated',
 *   hero_button_text: faker('text', 25),
 *   hero_style: 'text-center',
 *   hero_img_src: '../../../../images/b-connect/Service_Slide_Image.png',
 *   hero_img_alt: faker('text', 50),
 *   hero_img_title: faker('text', 50),
 *   hero_img_as_background: true,
 *   img_only: true
 * } %}
 * <h6>Bild Links Style</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: faker('text', 400),
 *   hero_button_url: '#',
 *   hero_button_class: 'filled animated',
 *   hero_button_text: faker('text', 25),
 *   hero_style: 'img-left',
 *   hero_img_src: '../../../../images/b-connect/Service_Slide_Image.png',
 *   hero_img_alt: faker('text', 50),
 *   hero_img_title: faker('text', 50),
 * } %}
 * <h6>Bild Rechts Style</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: faker('text', 400),
 *   hero_button_url: '#',
 *   hero_button_class: 'filled animated',
 *   hero_button_text: faker('text', 25),
 *   hero_style: 'img-right',
 *   hero_img_src: '../../../../images/b-connect/Service_Slide_Image.png',
 *   hero_img_alt: faker('text', 50),
 *   hero_img_title: faker('text', 50),
 * } %}
 */
#}

<div class="hero{%- if hero_style -%} {{hero_style}}{%- endif -%}{%- if hero_img_as_background -%} background{%- endif -%}"{%- if hero_img_as_background and hero_img_src -%}data-background="{{hero_img_src}}"{%- endif -%}>
  {%- if hero_style != "img-right" -%}
    <div class="image" {%- if hero_img_src -%}data-background="{{hero_img_src}}"{%- endif -%}>
      {% include "@atoms/06-images/00-image.twig" with {
        img_src: hero_img_src,
        img_alt: hero_img_alt,
        img_title: hero_img_title
      } %}
    </div>
  {%- endif -%}
  {%- if hero_heading or hero_text or hero_button_url -%}
  <div class="content">
    {%- if hero_heading -%}
      {% include "@atoms/00-text/01-headings.twig" with {
        heading_level: hero_heading_level,
        heading: hero_heading,
        heading_class: 'hero-headline animated'
      } %}
    {%- endif -%}
    {%- if hero_text -%}
      {% block teaser_text %}
        {% include "@atoms/00-text/00-paragraph.twig" with {
          paragraph_content: hero_text,
          paragraph_class: 'animated'
        } -%}
      {% endblock %}
    {%- endif -%}
    {%- if hero_button_url -%}
      {% include "@atoms/03-buttons/00-button.twig" with {
        button_url: hero_button_url,
        button_extra_class: hero_button_class,
        button_text: hero_button_text
      } %}
    {%- endif -%}
  {%- endif -%}
  </div>
  {%- if hero_style == "img-right" -%}
    <div class="image" {%- if hero_img_src -%}data-background="{{hero_img_src}}"{%- endif -%}>
      {% include "@atoms/06-images/00-image.twig" with {
        img_src: hero_img_src,
        img_alt: hero_img_alt,
        img_title: hero_img_title
      } %}
    </div>
  {%- endif -%}
</div>
