{#
/**
 * Teaser Liste
 *
 * Liste mit Teaser. Diese Teaser werden untereinader ausgegeben.
 * Der Inhalt kann auch überschrieben werden und die komplett gerenderte Liste enthalten.
 *
 * @param string $teaser_img_position Position des Bildes links oder rechts (left/right)
 * @param string $teaser_heading Titel für Teaser im Body (mit Link wenn es verlinkt werden soll)
 * @param string $teaser_heading_level Header Level 1-6
 * @param string $teaser_heading_class Spezielle Klasse wenn diese benötigt wird
 * @param string $teaser_small Bestimmt ob es der <small></small> Tag hinzugefügt wird, wenn zb die Headline für Teaser kleiner aussieht
 * @param string $teaser_subheading Sub-Titel für Teaser im Body (mit Link wenn es verlinkt werden soll)
 * @param string $teaser_subheading_level Subheadline Level 1-6
 * @param string $teaser_subheading_class Spezielle Klasse wenn diese benötigt wird
 * @param bool $title_section_above true/false Zeigt an ob der Titel und/oder Subtitel oberhalb des Bildes angezeigt wird oder nicht
 * @param string $teaser_backgroundimg Wird benötigt um das Teaserbild als Background-Image einzufügen um die CSS Eigenschaften nutzen zu können.
 * @param string $teaserimagetag Vollstängies IMG-Tag mit Alt + Title + Pfad zum Bild
 * @param string $teaser_text Teaser Body Inhalt benötigt vollständiges P-Tag
 * @param string $teaser_link Vollständiges A-Tag mit allen Optionen.
 *
 * @example
 * {% set teasers = {
 *   0: {'teaser_heading': faker('text', 50), 'teaser_heading_level': 3, 'teaser_subheading_level': 4, 'teaser_subheading': faker('text', 50), 'teaser_text': faker('text', 400), 'teaser_img_position': 'left', 'teaserimagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/360x16:9/c7c7c7/fff.png">'},
 *   1: {'teaser_heading': faker('text', 50), 'teaser_heading_level': 3, 'teaser_subheading_level': 4, 'teaser_subheading': faker('text', 50), 'teaser_text': faker('text', 400), 'teaser_img_position': 'right', 'teaserimagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/360x16:9/c7c7c7/fff.png">'},
 *   2: {'teaser_heading': faker('text', 50), 'teaser_heading_level': 3, 'teaser_subheading_level': 4, 'teaser_subheading': faker('text', 50), 'teaser_text': faker('text', 400), 'teaser_img_position': 'left', 'teaserimagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/360x16:9/c7c7c7/fff.png">'},
 *   3: {'teaser_heading': faker('text', 50), 'teaser_heading_level': 3, 'teaser_subheading_level': 4, 'teaser_subheading': faker('text', 50), 'teaser_text': faker('text', 400), 'teaser_img_position': 'right', 'teaserimagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/360x16:9/c7c7c7/fff.png">'},
 *   4: {'teaser_heading': faker('text', 50), 'teaser_heading_level': 3, 'teaser_subheading_level': 4, 'teaser_subheading': faker('text', 50), 'teaser_text': faker('text', 400)},
 *   5: {'teaser_heading': faker('text', 50), 'teaser_heading_level': 3, 'teaser_subheading_level': 4, 'teaser_subheading': faker('text', 50), 'teaser_text': faker('text', 400), 'teaser_img_position': 'right', 'teaserimagetag': '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/360x16:9/c7c7c7/fff.png">', 'teaser_link': '<a href="#" class="button filled">Button filled Link Text</a>'},
 * } %}
 * <h6>Image Left</h6>
 * <br />
 * {% include "@organisms/05-teaser-listing/teaser-listing.twig" with {
 *   teasers: teasers,
 * } %}
 */
#}
<div class="teaser-list">
  {% block teaser_list_inner %}
    {%- for teaser in teasers -%}
      {% include "@molecules/06-teaser/teaser.twig" with {
        "teaser_img_position": teaser.teaser_img_position,
        "title_section_above": teaser.title_section_above,
        "teaser_heading_level": teaser.teaser_heading_level,
        "teaser_heading": teaser.teaser_heading,
        "teaser_heading_link_url": teaser.teaser_heading_link_url,
        "teaser_heading_link_attributes": teaser.teaser_heading_link_attributes,
        "teaser_small": true,
        "teaser_subheading_level": teaser.teaser_subheading_level,
        "teaser_subheading": teaser.teaser_subheading,
        "teaserimagetag": teaser.teaserimagetag,
        "teaser_text": teaser.teaser_text,
        "teaser_link": teaser.teaser_link
      } %}
    {%- endfor -%}
  {% endblock %}
</div>
