{#
 /**
 * Video
 *
 * Standard Video Komponente wo der Iframe Wrapper eingetragen wird
 *
 * @param string $video_content der Inhalt des Videos (in der Regel ein iframe) wird der "| raw" -Filter angewendet, damit der iframe gerendert wird, anstatt einfach den iframe als reinen Text zu übergeben.
 * @param strin $video_modifiers Klasse für Bildformat
 *
 * @example
 * <h6>Default Format</h6>
 * {% include "@atoms/07-video/video.twig" with {
 *   video_content: '<iframe width="560" height="315" src="https://www.youtube.com/embed/rF1X12PE6PY" sandbox="allow-same-origin allow-scripts allow-presentation" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
 * } %}
 * <h6>Full Format</h6>
 * {% include "@atoms/07-video/video.twig" with {
 *   video_modifiers: 'full',
 *   video_content: '<iframe width="560" height="315" src="https://www.youtube.com/embed/rF1X12PE6PY" sandbox="allow-same-origin allow-scripts allow-presentation" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
 * } %}
 */
#}

<div class="video {{video_modifiers}}">
  {% block video_content %}
    {{ video_content|raw }}
  {% endblock %}
</div>
