{#
/**
 * Grid 2
 *
 * Dient nur als Beispiel
 *
 * @example
 * <div>small: 1 of 1,<br>medium: 1 of 2,</div>
 * <div class="layout-grid grid-two">
 *   {%- for i in 1..20 -%}
 *     <div>
 *       Grid {{i}}
 *     </div>
 *   {%- endfor -%}
 * </div>
 */
#}
