{#
/**
 * Grid 3
 *
 * @example
 * <div>small: 1 of 1,<br>medium: 1 of 3,</div>
 * <div class="layout-grid grid-three">
 *   {% for i in 1..20 %}
 *     <div>
 *       Grid {{i}}
 *     </div>
 *   {% endfor %}
 * </div>
 *
 */
#}
