{#
/**
 * Grid 6
 *
 * Dient nur als Beispiel
 *
 * @example
 * <div>mall: 1 of 1,<br>medium: 1 of 3,<br>large: 1 of 6,</div>
 * <div class="layout-grid grid-six">
 *   {%- for i in 1..20 -%}
 *     <div>
 *       Grid {{i}}
 *     </div>
 *   {%- endfor -%}
 * </div>
 *
 */
#}
