{#
/**
 * Logo
 *
 * @param string $img_alt Alternative Text für das Bild
 * @param string $img_title Titel für das Bild
 *
 * @example
 * <img src="../../../../images/logos/bc_logo_text.png" alt="" style="max-width: 450px; height: auto;">
 */
#}
<a href="{{img_href}}"><img alt="{{img_alt}}" title="{{img_title}}" class="logo" src="https://dummyimage.com/100x100/ededed/2e2e2e&text=Logo"></a>
  