{#
/**
 * Teaser
 *
 * Teaser mit unterschiedlichen Varianten der Darstellung
 *
 * @param string $teaser_header_content Inhalt des Headers
 * @param string $teaser_img_position Bildposition (left/right/overlay)
 * @param string $teaser_img_src Bildquelle - Pfad zum Bild, wenn nicht gesetzt wird auch kein Bild ausgegeben
 * @param string $teaser_img_alt Bild Alternativ Text
 * @param string $teaser_img_title Bildtitel
 * @param string $teaser_heading Titel für Teaser im Body
 * @param string $teaser_heading_level Header Level 1-6
 * @param string $teaser_heading_link_url Link URL, wenn leer ist der Titel nicht verlinkt
 * @param array $teaser_heading_link_attributes key/value attributes to pass to link like target _blank
 * @param string $teaser_subheading Subheadline Inhalt
 * @param string $teaser_subheading_level Subheadline Level 1-6
 * @param string $teaser_text Teaser Body Inhalt im <p> - Tag
 * @param string $teaser_heading_link_attributes key/value attributes to pass to link like target _blank
 * @param string $teaser_button_url Link wohin der Button verlinkt wird
 * @param string $teaser_button_class Klasse die den Style steuert (leere Klassenangabe, filled, filled2, round, text, link, group, dropdown)
 * @param string $teaser_button_text Buttontext
 * @param string $teaser_footer_content
 * @param bool $title_section_above true/false Zeigt an ob der Titel und/oder Subtitel oberhalb des Bildes angezeigt wird oder nicht
 * @param bool $teaser_small Bestimmt ob es der <small></small> Tag hinzugefügt wird, wenn zb die Headline für Teaser kleiner aussieht
 * @param bool $subtitle true/false
 *
 * @example
 * <h6>Image Left</h6>
 * <br />
 * {% include "@molecules/06-teaser/teaser.twig" with {
 *   teaser_img_position: 'left',
 *   title_section_above: false,
 *   teaser_heading_level: 3,
 *   teaser_heading: faker('text', 50),
 *   teaser_heading_link_url: '#',
 *   teaser_small: true,
 *   teaser_subheading_level: 4,
 *   teaser_subheading: faker('text', 50),
 *   teaser_img_src: '../../../../images/b-connect/consulting_Slide_Image.png',
 *   teaser_img_title: faker('text', 50),
 *   teaser_img_alt: faker('text', 50),
 *   teaser_text: faker('text', 400)
 * } %}
 * <h6>Image Right</h6>
 * <br />
 * {% include "@molecules/06-teaser/teaser.twig" with {
 *   teaser_img_position: 'right',
 *   title_section_above: false,
 *   teaser_heading_level: 3,
 *   teaser_heading: faker('text', 50),
 *   teaser_small: true,
 *   teaser_subheading_level: 4,
 *   teaser_subheading: faker('text', 50),
 *   teaser_img_src: '../../../../images/b-connect/consulting_Slide_Image.png',
 *   teaser_img_title: faker('text', 50),
 *   teaser_img_alt: faker('text', 50),
 *   teaser_text: faker('text', 400),
 *   teaser_button_url: '#',
 *   teaser_button_text: faker('text', 15),
 *   teaser_button_class: 'filled'
 * } %}
 * <h6>Image Left Title Above</h6>
 * <br />
 * {% include "@molecules/06-teaser/teaser.twig" with {
 *   teaser_img_position: 'left',
 *   title_section_above: true,
 *   teaser_heading_level: 3,
 *   teaser_heading: faker('text', 50),
 *   teaser_small: true,
 *   teaser_subheading_level: 4,
 *   teaser_subheading: faker('text', 50),
 *   teaser_img_src: '../../../../images/b-connect/consulting_Slide_Image.png',
 *   teaser_img_title: faker('text', 50),
 *   teaser_img_alt: faker('text', 50),
 *   teaser_text: faker('text', 400),
 *   teaser_button_url: '#',
 *   teaser_button_text: faker('text', 15),
 * } %}
 * <h6>Image Right Title Above</h6>
 * <br />
 * {% include "@molecules/06-teaser/teaser.twig" with {
 *   teaser_img_position: 'right',
 *   title_section_above: true,
 *   teaser_heading_level: 3,
 *   teaser_heading: faker('text', 50),
 *   teaser_heading_link_url: '#',
 *   teaser_small: true,
 *   teaser_subheading_level: 4,
 *   teaser_subheading: faker('text', 50),
 *   teaser_img_src: '../../../../images/b-connect/consulting_Slide_Image.png',
 *   teaser_img_title: faker('text', 50),
 *   teaser_img_alt: faker('text', 50),
 *   teaser_text: faker('text', 400),
 *   teaser_button_url: '#',
 *   teaser_button_text: faker('text', 15),
 * } %}
 * <h6>Image Overlay</h6>
 * <br />
 * {% include "@molecules/06-teaser/teaser.twig" with {
 *   teaser_img_position: 'overlay',
 *   title_section_above: false,
 *   teaser_heading_level: 3,
 *   teaser_heading: faker('text', 50),
 *   teaser_small: true,
 *   teaser_subheading_level: 4,
 *   teaser_subheading: faker('text', 50),
 *   teaser_img_src: '../../../../images/b-connect/consulting_Slide_Image.png',
 *   teaser_img_title: faker('text', 50),
 *   teaser_img_alt: faker('text', 50),
 *   teaser_text: faker('text', 400),
 *   teaser_button_url: '#',
 *   teaser_button_text: faker('text', 15),
 *   teaser_button_class: 'filled'
 * } %}
 */
#}

<div class="teaser-row {% if teaser_img_position %}{{teaser_img_position}}{% endif %}">
  {% if title_section_above == true %}
    <div class="teaser-title-top">
      {% if teaser_heading %}
        {% include "@atoms/00-text/01-headings.twig" with {
          heading_level: teaser_heading_level,
          heading: teaser_heading,
          link_url: teaser_heading_link_url,
          link_attributes: teaser_heading_link_attributes,
          small: teaser_small
        } %}
      {% endif %}
      {% if teaser_subheading %}
        {% include "@atoms/00-text/01-headings.twig" with {
          heading_level: teaser_subheading_level,
          heading: teaser_subheading,
          subtitle: true
        } %}
      {% endif %}
    </div>
  {% endif %}
  <div class="teaser-content" {% if teaser_img_position == 'overlay' %}style="background-image: url('{{teaser_img_src}}');"{% endif %}>
    {% if teaser_img_position == 'left' or teaser_img_position == 'overlay' %}
      {% if teaser_img_src %}
        <div class="teaser-image">
          {% include "@atoms/06-images/00-image.twig" with {
            img_src: teaser_img_src,
            img_alt: teaser_img_alt,
            img_title: teaser_img_title
          } %}
        </div>
      {% endif %}
    {% endif %}
    {% if teaser_text or teaser_button_url %}
      <div class="teaser-body">
        <div class="teaser-content-inner">
          {% if title_section_above == false %}
            {% if teaser_heading %}
              {% include "@atoms/00-text/01-headings.twig" with {
                heading_level: teaser_heading_level,
                heading: teaser_heading,
                link_url: teaser_heading_link_url,
                link_attributes: teaser_heading_link_attributes,
                small: teaser_small
              } %}
            {% endif %}
            {% if teaser_subheading %}
              <small>
                {% include "@atoms/00-text/01-headings.twig" with {
                  heading_level: teaser_subheading_level,
                  heading: teaser_subheading,
                  subtitle: true,
                } %}
              </small>
            {% endif %}
          {% endif %}
          {% if teaser_text %}
            <div class="teaser-text">
              {% include "@atoms/00-text/00-paragraph.twig" with {
                paragraph_content: teaser_text
              } %}
            </div>
          {% endif %}
          {% if teaser_button_url %}
            {% include "@atoms/03-buttons/00-button.twig" with {
              button_url: teaser_button_url,
              button_extra_class: teaser_button_class,
              button_text: teaser_button_text
            } %}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if teaser_img_position == 'right' %}
      {% if teaser_img_src %}
        <div class="teaser-image">
          {% include "@atoms/06-images/00-image.twig" with {
            img_src: teaser_img_src,
            img_alt: teaser_img_alt,
            img_title: teaser_img_title
          } %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>

