.search-form {
  position: relative;

  input[type='text'] {
    border-left: 1px solid $support3;

    &:focus {
      border-left: 1px solid $secondary;
    }
  }

  .form-item {
    margin-bottom: 0;
  }

  .form-actions,
  .form-actions .form-item,
  .form-actions input {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: transparent;
    border: 0;

    &:focus {
      outline: none;
    }
  }
}
