.footer-nav {
  .menu-title {
    color: $footer-menu-title-color;
    font-size: 18px;
    @include font($base-font, 'bold');

    span {
      border-bottom: 3px solid $footer-menu-separator;
      display: block;
      width: 50%;
    }
  }

  .nav {
    flex-direction: column;

    a {
      color: $footer-menu-item-color;
      display: inline-block;
      margin-bottom: 10px;

      &:hover,
      &:focus,
      &:active,
      &.is-active,
      &.active {
        border-bottom: 1px solid $footer-menu-item-hover-border-color;
      }
    }

    &.submenu {
      padding-left: 20px;
    }
  }
}