<div class="bconnect-trigger"></div>
<div class="svg-wrapper">
  <svg viewBox="3.84 196.52 375.45 118.99" width="375.45" height="118.99" xmlns="http://www.w3.org/2000/svg">
    <path id="bcunderline1" class="underline" d="M 245,293 L 300,293"/>
    <path id="bcunderline2" class="underline" d="M 245,296 L 325,296"/>
    <path id="bcunderline3" class="underline" d="M 245,299 L 360,299"/>
    <!-- B -->
    <path id="bcb1" d="M 24.017,201.516 L 24.017,276.247" transform="matrix(1, 0, 0, 1, 1.4210854715202004e-14, -1.7763568394002505e-15)"/>
    <path id="bcb2" d="M 42.691 281.065 C 31.671 281.065 16.877 270.53 16.877 259.51 C 16.877 248.49 28.019 236.963 38.464 239.11 C 48.909 241.257 56.387 253.233 63.896 260.479" transform="matrix(-0.7071070075035095, 0.7071060538291931, -0.7071060538291931, -0.7071070075035095, 252.76159667968756, 415.2175903320313)"/>
    <!-- - -->
    <path id="bcminus" d="M 74.075 256.257 L 104.538 256.257"/>
    <!-- C -->
    <path id="bcc1" d="M 160.054 254.718 C 160.054 265.172 151.579 273.646 141.125 273.646 C 130.671 273.646 122.197 265.172 122.197 254.718 C 122.197 251.78 122.866 248.999 124.06 246.518 M 141.125 235.789 C 151.579 235.789 160.054 244.264 160.054 254.718"  transform="matrix(-0.5, 0.866025, -0.866025, -0.5, 432.28007, 259.858041)"/>
    <!-- O -->
    <path id="bco1" d="M 196.991 254.364 C 196.991 265.097 189.398 273.799 180.031 273.799 C 170.664 273.799 163.071 265.097 163.071 254.364 C 163.071 243.63 170.664 234.93 180.031 234.93 C 189.398 234.93 196.991 243.63 196.991 254.364 Z"  transform="matrix(-0.996921, -0.078415, 0.078415, -0.996921, 339.561658, 522.062922)"/>

    <!-- N -->
    <path id="bcn1" d="M 235.052 265.165 C 232 270.301 226.856 273.674 221.024 273.674 C 211.657 273.674 204.064 264.972 204.064 254.239 C 204.064 248.594 203.182 241.112 203.02 237.304"  transform="matrix(-0.996921, -0.078415, 0.078415, -0.996921, 417.595176, 526.525121)"/>
    <path id="bcn2" d="M 204.083 233.2 L 204.083 273.639"/>

    <!-- N -->
    <path id="bcn1d" d="M 241.975 233.936 L 241.975 274.375"/>
    <path id="bcn2d" d="M 273.45 264.182 C 270.398 269.318 265.254 272.691 259.422 272.691 C 250.055 272.691 242.462 263.989 242.462 253.256 C 242.462 247.611 241.58 240.129 241.418 236.321" transform="matrix(-0.996921, -0.078415, 0.078415, -0.996921, 494.118247, 528.415066)"/>

    <!-- E -->
    <path id="bce1" d="M 160.054 254.718 C 160.054 265.172 151.579 273.646 141.125 273.646 C 132.214 273.646 124.742 267.489 122.73 259.198 C 122.382 257.762 121.322 247.8 125.992 246.642 C 128.844 245.935 152.594 271.204 153.788 268.723 M 141.125 235.789 C 151.579 235.789 160.054 244.264 160.054 254.718" transform="matrix(-0.48, 0.8660250306129456, -0.8660250306129456, -0.5, 584.0577239990234, 262.07714223861694)"/>

    <!-- C -->
    <path id="bcc2" d="M 350.351 256.681 C 350.351 267.135 341.876 275.609 331.422 275.609 C 326.134 275.609 321.352 273.441 317.918 269.944 C 314.563 266.529 312.494 261.847 312.494 256.681 C 312.494 253.743 313.163 250.962 314.357 248.481 M 331.422 237.752 C 341.876 237.752 350.351 246.227 350.351 256.681" transform="matrix(-0.5, 0.8660250306129456, -0.8660250306129456, -0.5, 719.4255981445312, 98.00061798095702)"/>
    <!-- T -->
    <path id="bct1" d="M 357.802,201.517 L 357.802,275.964" transform="matrix(1, 0, 0, 1, 0, 0)"/>
    <path id="bct2" d="M 351.061,223.58 L 374.288,223.58" transform="matrix(1, 0, 0, 1, 0, 0)"/>

    <text x="22" y="300" font-size="10" id="bctext"><tspan dx="0" dy="-1">b</tspan><tspan>-</tspan><tspan>c</tspan><tspan>o</tspan><tspan>n</tspan><tspan>n</tspan><tspan>e</tspan><tspan>c</tspan><tspan>t</tspan><tspan>.</tspan><tspan>&nbsp;</tspan><tspan>M</tspan><tspan>a</tspan><tspan>d</tspan><tspan>e</tspan><tspan>&nbsp;</tspan><tspan>i</tspan><tspan>n</tspan><tspan>&nbsp;</tspan><tspan>B</tspan><tspan>e</tspan><tspan>r</tspan><tspan>l</tspan><tspan>i</tspan><tspan>n</tspan><tspan>.</tspan><tspan>&nbsp;</tspan><tspan>S</tspan><tspan>i</tspan><tspan>n</tspan><tspan>c</tspan><tspan>e</tspan><tspan>&nbsp;</tspan><tspan>1</tspan><tspan>9</tspan><tspan>9</tspan><tspan>8</tspan><tspan>!</tspan></text>
  </svg>
</div>
