.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

svg {
  path,
  line {
    stroke: $primary;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
}

text {
  fill: $secondary;
  font-weight: 700;
  opacity: 0;
 
  tspan {
    padding: 0;
    margin: 0;
  }
}

.underline {
  stroke-width: 1;
  stroke-linecap: butt;
}