svg.svgmagic {
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 0;

  text {
    fill: $secondary;

    tspan {
      padding: 0;
      margin: 0;
      opacity: 0;
    }
  }

  line,
  polyline,
  ellipse,
  path {
    stroke: $primary;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 6;
    opacity: 0;
    stroke-miterlimit: 10;

    &.primary {
      stroke: $primary;
    }

    &.secondary {
      stroke: $primary;
    }
  }

  .dec {
    stroke-width: 3;
  }

  .underline {
    stroke-width: 6;
    stroke-linecap: butt;
    opacity: 1;
  }
}

#svgmagicplay {
  font-size: 10px;
  color: #fff;
  display: block;
  position: 'relative';
  margin: 0 auto;
  width: 200px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  opacity: 0;
  @include button('filled', 0);
}
