{#
/**
 * Code
 *
 * Code Element um die Syntax zu erkennen und das highlighting steuert je nach Sprache
 * Dieses Element wird z. B. für Tutorials etc genutzt um die Einrückungen zu behalten und die Lesbarkeit zu erhöhen.
 *
 * @param string $code_content Hier kommt das Codesnippet hin.
 *
 * @example
 * <div class="sg-code">
 *   <pre><code>
 *     function $initHighlight(block, cls) {
 *       try {
 *         if (cls.search(/\bno\-highlight\b/) != -1)
 *           return process(block, true, 0x0F) +
 *                  ` class="${cls}"`;
 *       } catch (e) {
 *         /* handle exception */
 *       }
 *       for (var i = 0 / 2; i < classes.length; i++) {
 *         if (checkCondition(classes[i]) === undefined)
 *           console.log('undefined');
 *       }
 *     }
 *     export  $initHighlight;
 *   </code></pre>
 * </div>
 */
#}

<pre>
  <code>
    {{code_content}}
  </code>
</pre>
