h1,
h2,
h3,
h4,
h5,
h6 {
  @include font($base-font, 'bold');

  margin-bottom: .4rem;
  color: $primary;
  line-height: 1;

  a {
    @include font($base-font, 'bold');

    color: $primary;

    &.active,
    &.is-active,
    &:active,
    &:focus,
    &:hover {
      color: $secondary;
      border: 0;
    }
  }

  &.center {
    text-align: center;
    max-width: 90%;
    margin: auto;
  }

  &.section-title {
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include breakpoint(large) {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }
}

/* ------------------------------------ *\
  #HEADLINES IN HEADERS
\* ------------------------------------ */
h1,
h1 a {
  font-size: 3.75rem;
  margin-bottom: 1.2rem;
  @include vw(60px);

  small {
    font-size: 3rem;
    @include vw(50px);
  }
}

h2,
h2 a {
  font-size: 3.4375rem;
  @include vw(52px);

  small {
    font-size: 2.5rem;
    @include vw(40px);
  }
}

h3,
h3 a {
  font-size: 4.5em;
  @include vw(42px);

  small {
    font-size: 2em;
    @include vw(32px);
  }
}

h4,
h4 a {
  font-size: 4.5em;
  @include vw(36px);

  small {
    font-size: 1.75em;
    @include vw(28px);
  }
}

h5,
h5 a {
  font-size: 4.5em;
  @include vw(30px);

  small {
    font-size: 1.5em;
    @include vw(24px);
  }
}

h6,
h6 a {
  font-size: 4.5em;
  @include vw(25px);

  small {
    font-size: 1.25em;
    @include vw(20px);
  }
}

.subtitle {
  color: $support2;
  margin-top: 0;
  font-size: 1.25em;
  @include vw(20px);
}
