h1,
h2,
h3,
h4,
h5,
h6 {
  @include font($base-font, 'bold');

  margin-bottom: .4rem;
  color: $primary;
  line-height: 1;

  a {
    @include font($base-font, 'bold');

    color: $primary;

    &.active,
    &.is-active,
    &:active,
    &:focus,
    &:hover {
      color: $secondary;
      border: 0;
    }
  }

  &.center {
    text-align: center;
    max-width: 90%;
    margin: auto;
  }

  &.section-title {
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include breakpoint(large) {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }
}

/* ------------------------------------ *\
  #HEADLINES IN HEADERS
\* ------------------------------------ */
h1,
h1 a {
  @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $h1/2, $h1);
  @include interpolate(margin-bottom, 320px, mediaqueryvalue(xxlarge), 10px, 20px);

  small {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $s-h1/2, $s-h1);
  }
}

h2,
h2 a {
  @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $h2/2, $h2);
  @include interpolate(margin-bottom, 320px, mediaqueryvalue(xxlarge), 10px, 15px);

  small {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $s-h2/2, $s-h2);
  }
}

h3,
h3 a {
  @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $h3/2, $h3);
  @include interpolate(margin-bottom, 320px, mediaqueryvalue(xxlarge), 10px, 15px);

  small {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $s-h3/2, $s-h3);
  }
}

h4,
h4 a {
  @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $h4/2, $h4);
  @include interpolate(margin-bottom, 320px, mediaqueryvalue(xxlarge), 10px, 15px);

  small {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $s-h4/2, $s-h4);
  }
}

h5,
h5 a {
  @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $h5/2, $h5);
  @include interpolate(margin-bottom, 320px, mediaqueryvalue(xxlarge), 10px, 15px);

  small {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $s-h5/2, $s-h5);
  }
}

h6,
h6 a {
  @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $h6/2, $h6);
  @include interpolate(margin-bottom, 320px, mediaqueryvalue(xxlarge), 10px, 15px);

  small {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $h6/2, $h6);
  }
}

.subtitle {
  color: $support2;
  margin-top: 0;
  @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $sub/2, $sub);
  @include interpolate(margin-bottom, 320px, mediaqueryvalue(xxlarge), 10px, 15px);
}
