{#
/**
 * Heading in Paragraph
 *
 * Headlines H1 - H6
 * Alle Schriftgrößen werden ab dem Breakpoint "medium" = 640px und darunter mit skaliert in der Größe
 *
 * Wenn die Headline verlinkt sein soll muss der Link nicht um die <h1></h1> gebaut werden sondern ist Bestandteil des Textes innerhalb.
 *
 * @param int heading_level Es ist eine Zahl von 1 bis 6 um die h1-h6 zu steuern.
 * @param string heading Das ist der Titel der anzeigt wird, kann auch einen Link enthalten.
 *
 * @example
 * {% set headline_link = '<a>' ~ faker('text', 200) ~ '</a>' %}
 *  <div class="sg-fonts">
 *  <h6>Headlines in Paragraph</h6>
 *  <p>
 *    {%- for i in 1..6 -%}
 *      {% include "@atoms/00-text/02-headings-in-paragraphs.twig" with {
 *        heading_level: i,
 *        heading: faker('text', 200),
 *      } %}
 *    {%- endfor -%}
 *  </p>
 *  <h6>Headlines in Paragraph verlinkt</h6>
 *  <p>
 *    {%- for i in 1..6 -%}
 *      {% include "@atoms/00-text/02-headings-in-paragraphs.twig" with {
 *        heading_level: i,
 *        heading: headline_link,
 *      } %}
 *  {%- endfor -%}
 *  </p>
 *  </div>
 */
#}

<h{{ heading_level }} class="h{{ heading_level }}">
  {%- if heading -%}
    {{ heading }}
  {%- endif -%}
</h{{ heading_level }}>
