.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include font($base-font, 'bold');

  margin-bottom: .2rem;
  color: $primary;

  * {
    &.active,
    &.is-active,
    &:active,
    &:focus,
    &:hover {
      color: $secondary;
    }
  }
}

/* ------------------------------------ *\
  #HEADLINES IN PARAGRAPHS
\* ------------------------------------ */
p {
  .h1 {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $p-h1 - 12, $p-h1);
  }

  .h2 {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $p-h2 - 10, $p-h2);
  }

  .h3 {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $p-h3 - 8, $p-h3);
  }

  .h4 {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $p-h4 - 6, $p-h4);
  }

  .h5 {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $p-h5 - 4, $p-h5);
  }

  .h6 {
    @include interpolate(font-size, 320px, mediaqueryvalue(xxlarge), $p-h6 - 2, $p-h5);
  }
}
