.modal {
  @include fade;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  background: $black-transparent;

  .modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    display: flex;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));

    @include breakpoint(medium) {
      min-height: calc(100% - (1.75rem * 2));
      max-width: $infobox-max-width;
      margin: 1.75rem auto;
    }
  }

  &.show {
    .modal-dialog {
      transform: translate(0, 0);
    }
  }

  &.fade {
    .modal-dialog {
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out;
      transform: translate(0, -25%);
    }
  }

  .infobox-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $infobox-content-background;
    background-clip: padding-box;
    border: $infobox-content-border;
    border-radius: $infobox-content-border-radius;
    outline: 0;
  }

  .infobox-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $infobox-padding;
    border-bottom: $infobox-divider;
    border-top-left-radius: $infobox-content-border-radius;
    border-top-right-radius: $infobox-content-border-radius;

    * {
      margin: 0;
    }

    .close {
      float: right;
      font-size: $infobox-close-fontsize;
      font-weight: 700;
      line-height: 1;
      color: $infobox-close-color;
      text-shadow: 0 1px 0 #fff;
      opacity: $infobox-close-opacity;
      padding: 1rem;
      margin: -1rem -1rem -1rem auto;
      background-color: transparent;
      border: 0;
      @include appearance(none);
    }
  }

  .infobox-body {
    position: relative;
    flex: 1 1 auto;
    padding: $infobox-padding;
  }

  .infobox-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $infobox-padding;
    border-top: $infobox-divider;

    > * {
      padding-left: 10px;
    }
  }
}

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
