.node {
  header {
    margin-bottom: 2rem;
    background: transparent;

    .subtitle {
      margin-top: 1rem;
    }
  }

  footer {
    background: transparent;
    color: inherit;
    padding: 0;
  }
}
