@mixin bc-icon($icon) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 60px;
  font-family: $bc-icon, fantasy;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  vertical-align: -.125em;
  color: $primary;

  &::before {
    content: $icon;
  }
}
