{#
/**
 * bconnect Icons
 *
 * Alle Icons aus dem b-connect Font
 * werden mit einem Mixin gesteuert.
 *
 * @example
 * {% set items = {
 *   'home': 'a', 'speech' : 'b', 'speaker' : 'c', 'key' : 'd', 'letter' : 'e', 'compass' : 'f', 'code' : 'g', 'wrench' : 'v', 
 *   'wrench1' : 'h', 'wrench2' : 'i', 'wrench3' : 'j', 'whistle' : 'w', 'whistle1' : 'k', 'whistle2' : 'l', 'whistle3' : 'x', 
 *   'cog' : 'm', 'cart' : 'n', 'write' : 'o', 'user' : 'p', 'tie' : 'r', 'database' : 's', 'direction' : 't', 'home-bubble' : 'A', 
 *   'speech-bubble' : 'B', 'speaker-bubble' : 'C', 'key-bubble' : 'D', 'letter-bubble' : 'E', 'compass-bubble' : 'F', 'code-bubble' : 'G', 
 *   'wrench-bubble' : 'V', 'wrench1-bubble' : 'H', 'wrench2-bubble' : 'I', 'wrench3-bubble' : 'J', 'whistle-bubble' : 'z', 'whistle1-bubble' : 'K', 
 *   'whistle2-bubble' : 'L', 'whistle3-bubble' : 'W', 'cog-bubble' : 'M', 'wrench-circle' : 'X', 'wrench1-circle' : 'Y', 'wrench2-circle' : 'Z', 
 *   'wrench3-circle' : 'y', 'cart-circle' : 'N', 'write-circle' : 'O', 'user-circle' : 'P', 'home-circle' : 'Q', 'tie-circle' : 'R', 
 *   'database-circle' : 'S', 'direction-circle' : 'T', 'cog-circle' : 'U'
 * } %}
 * <div class="sg-icon">
 *  <ul class="icon-set">
 *    {% for key, item in items %}
 *      <li class="{{key}}">
 *        <div class="container no-icon">
 *          <div>{{item}}</div>
 *        </div>
 *      </li>
 *    {% endfor %}
 *  </ul>
 * </div>
 */
#}
